 # dependencies
node_modules/
**/node_modules/

# builds
dist/
build/
**/dist/
**/build/

# env files
.env
.env.*
!.env.example

# logs
*.log
logs/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# coverage
coverage/

# tooling
.kiro/

# lock files (optional)
bun.lockb
package-lock.json

# Secrets
*.pem
*.key
*.p12
*.pfx
*.crt
*.cer
*.jks
*.keystore
